body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

#mapa{
    width: 500px;
    height: 500px;
    width: 100%;
    height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.mapa {
	padding: 0;
	margin-top: -99px;
}

.prikazRezultata {
	color: #FFFF00;
}

.rezultatiHeader {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color: rgba(33,33,33,.8);
	height: 98px;
}

.prikazTim {
	padding-top: 40px;
}

.rezultatJedan {
	margin-left: 400px;
	margin-top: -65px;
	font-size: 60px;
}

.prikazVrijeme {
	padding-top: 10px;
}

.vrijeme {
	font-size: 60px;
	margin-top: -20px;
	color: #fff;
}

.rezultatDva {
	margin-right: 400px;
	margin-bottom: -55px;
	margin-top: -30px;
	font-size: 60px;
}

.timJedan {
	margin-left: 40px;
	margin-top: -25px;
	font-size: 20px;
}

.timDva {
	width: 20%;
	margin-left: 390px;
	margin-top: -25px;
	font-size: 20px;
}

.ikonaTima {
	margin-left: 380px;
}

.dropdownTeam {
	width: 37px;
	height: 37px;
	background-color: rgba(33,33,33,.8);
	border-radius: 100%;
	padding: 5px;
	margin-left: 30px;
	margin-top: 7px;
}

.listTeam {
	list-style: none;
	padding-left: 30px;
	padding-top: 20px;
	margin-right: 250px;
	margin-left: -80px;
	margin-top: -23px;
	text-align: center;
	width: 230px;
	background-color: rgba(33,33,33,.8); 
}

.listTeam li {
	padding: 10px;
}

.listImage {
	z-index: 0;
	margin: 0 0 0 25px !important;
}

.deathSmudge {
	z-index: 1;
	position: relative;
	right: 25px;
	top: 10px;
}

.dropdownTeamList {
	margin-left: 380px;
}

.listTeamDva {
	list-style: none;
	padding-left: 0px;
	padding-top: 20px;
	margin-right: 250px;
	margin-left: 323px;
	margin-top: -22px;
	text-align: center;
	width: 200px;
	background-color: rgba(33,33,33,.8); 
	overflow: hidden;
}

.listTeamDva li {
	padding: 10px;
	margin-right: -10px;
}