body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/* pocetna.php CSS */
#mapa{
    width: 500px;
    height: 500px;
    width: 100%;
    height: 100vh;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.mapa {
	padding: 0;
	margin-top: -99px;
}

.prikazRezultata {
	color: #FFFF00;
}

.rezultatiHeader {
	position: relative;
	z-index: 1;
	width: 100%;
	background-color: rgba(33,33,33,.8);
	height: 98px;
}

.prikazTim {
	height: 98px;
	padding-top: 35px;
}

.dropdown {
	padding-top: 10px;
}

.rezultatJedan {
	font-size: 60px;
}

.lead {
	margin-bottom: 0;
}

.prikazVrijeme {
	padding-top: 10px;
}

.vrijeme {
	font-size: 44px;
	margin-top: -20px;
	color: #fff;
}

.rezultatDva {
	font-size: 60px;
}

.timJedan {
	font-size: 20px;
	display: inline-block;
}

.timDva {
	font-size: 20px;
	display: inline-block;
}

.ikonaTima {
	
}

.dropdownTeam {
	width: 37px;
	height: 37px;
	background-color: rgba(33,33,33,.8);
	border-radius: 100%;
	padding: 5px;
}

.listTeam {
	list-style: none;
	padding: 0;
	padding-top: 20px;
	text-align: center;
	width: 200px;
	background-color: rgba(33,33,33,.8); 
	margin: 0;
	margin-left: -30px;
    margin-top: -32px;
}

.listTeam li {
	padding: 10px;
}

.listImage {
	z-index: 0;
	margin: 0 0 0 35px !important;
}

.deathSmudge {
	z-index: 1;
	position: relative;
	right: 25px;
	top: 10px;
}

.img-circle {
	width: 40px;
	height: 40px;
}

.dropdownTeamList {
	
}

.listTeamDva {
	list-style: none;
	text-align: center;
	width: 200px;
	background-color: rgba(33,33,33,.8); 
	overflow: hidden;
	padding: 0;
	padding-top: 20px;
	margin: 0;
	float: right;
	margin-right: -30px;
    margin-top: -32px;
}

.listTeamDva li {
	padding: 10px;
}

/* index.html CSS */
.indexBody {
	background-color: black;
}

.indexPozadina {
	background-color: #212121;
	margin-top: 30px;
}

.logoPocetna {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 20px;
}

.introIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 100px;
}

/* modal-php CSS */
.modal-header {
	height: 50px;
	background-color: black; 
}

.modal-body {
	background-color: #212121;
	margin-top: -1px;
	text-align: center;
}

.modalAvatar {
	border: 2px solid #FFFF00;
	margin-top: -50px;
	width: 150px;
	height: 150px;
}

.imePrezime {
	color: #FFFF00;
	font-size: 28px;
	padding-top: 10px;
}

.nazivStatistike {
	color: #B6B6B6;
	font-size: 26px;
	padding-top: 35px;
}

.modalStatistika {
	color: #FFFF00;
	font-size: 41px; 
}

.modalExit {
	color: #B6B6B6!important;
}

/*responsive CSS */
@media (max-width: 979px) {
	html, body {
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
	}

	.indexPozadina {
		margin: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.logoPocetna {
		width: 100%;
		margin: 0;
	}
}

@media (max-width: 533px) {
	.prikazTim {
		padding-top: 10px;
	}

	.listTeam {
		margin-top: -31px;
		width: 120px;
	}

	.listTeamDva {
		margin-top: -31px;
		width: 120px;
	}
}

@media (max-width: 421px) {
	.timJedan {
		font-size: 19px;
	} 

	.timDva {
		font-size: 19px;
	} 

	.rezultatDva {
		margin-left: -30px;
	}
}

@media (max-width: 407px) {
	.prikazTim {
		padding-top: 13px;
	}

	.timJedan {
		font-size: 18px;
	} 

	.timDva {
		font-size: 18px;
	} 

	.rezultatDva {
		margin-left: -30px;
	}
}

@media (max-width: 394px) {
	.prikazTim {
		padding-top: 14px;
	}

	.timJedan {
		font-size: 17px;
	} 

	.timDva {
		font-size: 17px;
	} 

	.rezultatJedan {
		font-size: 58px;
	}

	.rezultatDva {
		margin-left: -30px;
		font-size: 58px;
	}
}

@media (max-width: 389px) {
	.prikazTim {
		padding-top: 16px;
	}

	.timJedan {
		font-size: 16px;
	} 

	.timDva {
		font-size: 16px;
	} 

	.listTeamDva {
		margin-right: -37px;
	}

	.rezultatJedan {
		font-size: 50px;
		padding-top: 15px;
	}

	.rezultatDva {
		margin-left: -30px;
		font-size: 50px;
		padding-top: 15px;
	}

	.prikazVrijeme > p {
		font-size: 10px;
	}

	.col-xs-3 {
		width: 24%;
	}
}

@media (max-width: 389px) {
	.prikazTim {
		padding-top: 17px;
	}

	.timJedan {
		font-size: 15px;
	}

	.timDva {
		font-size: 15px;
	} 
}

@media (max-width: 359px) {
	.prikazTim {
		padding-top: 18px;
	}

	.timJedan {
		font-size: 13px;
	}

	.timDva {
		font-size: 13px;
	} 
}

@media (max-width: 351px) {
	.col-xs-3 {
		width: 23%;
	}

	.timJedan {
		font-size: 12px;
	}

	.timDva {
		font-size: 12px;
	} 

	.listTeam {
		width: 100px;
	}

	.listTeamDva {
		width: 100px;
	}
}

@media (max-width: 338px) {
	.timJedan {
		font-size: 11px;
	}

	.timDva {
		font-size: 11px;
	} 

	.prikazTim {
    	padding-top: 19px;
	}
}

@media (max-width: 321px) {
	.col-xs-3 {
		width: 22%;
	}

	.timJedan {
		font-size: 10px;
	}

	.timDva {
		font-size: 10px;
	} 
}

@media (max-width: 320px) {
	.col-xs-3 {
		width: 22%;
	}

	.prikazTim {
    	padding-top: 20px;
	}

	.timJedan {
		font-size: 9px;
	}

	.timDva {
		font-size: 9px;
	} 
}

@media (max-width: 302px) {
}