<ion-view> 
<ion-nav-title class="naslov">Game</ion-nav-title>
  <ion-content  class="padding pozadina">
  
  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block icon ion-ios-people tim" type="submit" >
    Team 1
    </button>
    </div>
  </div>

<!--Igrači se otkrivaju tek kad on stisne taj button team 1 -->


<ul class="list igraci">
 
    <li class="item item-checkbox crna">
     <label class="checkbox check">
       <input type="checkbox" name="igraci" value="igrac_1">
     </label>
    Player 1
    </li>

   <li class="item item-checkbox crna">
     <label class="checkbox check">
       <input type="checkbox" name="igraci" value="igrac_2">
     </label>
     Player 2
  </li>
  
</ul>



  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block icon ion-ios-people tim" type="submit" >
    Team 2
    </button>
    </div>
  </div>




</ion-content>
</ion-view>
