<ion-view> 
<ion-nav-title class="naslov">Game</ion-nav-title>
  <ion-content  class="padding pozadina">
  
  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block icon ion-ios-people tim" type="submit" ng-click="getKorisnici()">
    Team 1
    </button>
    </div>
  </div>

<!--Igrači se otkrivaju tek kad on stisne taj button team 1 -->


<ul class="list igraci">
 
    <li class="item item-checkbox crna" ng-repeat="item in korisnici">
     <label class="checkbox check">
       <input type="checkbox" name="igraci" value="igrac_1">
     </label>
   {{item.ime}} {{item.prezime}}
    </li>
  
</ul>



  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block icon ion-ios-people tim" type="submit" ng-click="getKorisnik()">
    Team 2
    </button>
    </div>
  </div>
  
<ul class="list igraci">
 
    <li class="item item-checkbox crna" ng-repeat="item in korisnici">
     <label class="checkbox check">
       <input type="checkbox" name="igraci" value="igrac_1">
     </label>
   {{item.ime}} {{item.prezime}}
    </li>
  
</ul>

<label class="item item-input pozadina border">
    <span class="input-label"></span>
    <input type="text" class="slova" placeholder="Number of round" ng-model="registracija.round">
</label>


<button class="button button-block button-energized">
  Start game
</button>


</ion-content>
</ion-view>
