<ion-view> 
<ion-nav-title class="naslov">Registration</ion-nav-title>
  <ion-content class="padding pozadina_1">
  
<div class="list">

<form>

  <label class="item item-input pozadina">
    <span class="input-label"></span>
    <input type="text" class="slova" placeholder="Firstname" ng-model="registracija.ime">
  </label>

  <label class="item item-input pozadina">
    <span class="input-label"></span>
    <input type="text" class="slova" placeholder="Lastname" ng-model="registracija.prezime">
  </label>

  <label class="item item-input pozadina">
    <span class="input-label"></span>
    <input type="text" class="slova" placeholder="Username" ng-model="registracija.username">
  </label>

  <label class="item item-input pozadina">
    <span class="input-label"></span>
    <input type="password" class="slova" placeholder="Password" ng-model="registracija.password">
  </label>

<label class="item pozadina" style="text-align:center;">
<ul class="list status">

  <li class="item item-checkbox pozadina">
     <label class="checkbox">
       <input type="checkbox" name="status" value="1" ng-model="registracija.sudac">
     </label>
  Judge 
  </li>

   <li class="item item-checkbox  pozadina">
     <label class="checkbox">
       <input type="checkbox" name="status" value="1" ng-model="registracija.igrac">
     </label>
     Player
  </li>

</ul>
</label>

  <label class="item item-input pozadina">
    <input type="file" value="Avatar">
  </label>



  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-assertive button-block" type="submit" ng-click="registriraj()">
    Register
   </button>
    </div>
  </div>

</form>
</div>


</ion-content>
</ion-view>
