<ion-view> 
<ion-nav-title class="naslov">Legenda</ion-nav-title>
  <ion-content  class="padding pozadina">


<div class="card my_team">
<div class="col">
<p class="alert">My team</p> <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="team_1" />
</div>
</div>

<div class="card my_team">
<div class="col">
<p class="alert">Obstacles</p> <img src="http://findicons.com/files/icons/951/google_maps/32/hotel1star.png" alt="team_1" />
</div>
</div>

<div class="card my_team">
<div class="col">
<p class="alert">Flags</p> <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="team_1" />
</div>
</div>


  </ion-content>
</ion-view>