<ion-view> 
<ion-nav-title>Registration</ion-nav-title>
  <ion-content class="padding">
  
<div class="list">

<form>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Firstname</span>
    <input type="text">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Lastname</span>
    <input type="text">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input type="text">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password">
  </label>

<label class="item">
<ul class="list status">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name="status" value="Judge">
     </label>
     Judge
  </li>

   <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name="status" value="Player">
     </label>
     Player
  </li>

</ul>
</label>


  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block" type="submit" >
    Register
   </button>
    </div>
  </div>

</form>
</div>


</ion-content>
</ion-view>
