<ion-view> 
<ion-nav-title>Registration</ion-nav-title>
  <ion-content class="padding">
  
<div class="list">

<form>

  <label class="item item-input">
    <span class="input-label"></span>
    <input type="text" placeholder="Firstname">
  </label>

  <label class="item item-input">
    <span class="input-label"></span>
    <input type="text" placeholder="Lastname">
  </label>

  <label class="item item-input">
    <span class="input-label"></span>
    <input type="text" placeholder="Username">
  </label>

  <label class="item item-input">
    <span class="input-label"></span>
    <input type="password" placeholder="Password">
  </label>

<label class="item" style="text-align:center;">
<ul class="list status">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name="status" value="Judge">
     </label>
     Judge
  </li>

   <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox" name="status" value="Player">
     </label>
     Player
  </li>

</ul>
</label>

  <label class="item item-input">
    <input type="file" value="Avatar">
  </label>



  <div class="row">
    <div class="col" style="text-align:center;">
    <button class="button button-dark button-block" type="submit" >
    Register
   </button>
    </div>
  </div>

</form>
</div>


</ion-content>
</ion-view>
