.status li{
	display: inline;
	border-style: none;
}

.tim{
	height: 100px !important;
}

.over{
	height: 150px !important;
	border-radius: 50px !important;
	margin-top: 20% !important;
}

.igrac{
	display:inline;
}
